*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #111111;
}

header {
    background-color: #111111;
    padding: 0 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
        color:#ffffff;
    }
}
