*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #111111;
    font-family: sans-serif;
}

header {
    background-color: #111111;

    
    nav {
        width: 1200px;
        margin: 0 auto;
        padding: 20 px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color:#ffffff;
            font-size: 18 px;
            text-transform: capitalize;
            letter-spacing: 1px;
            transition: 200ms;

            &:hover{
                color: #ffbf00;
                
            }
        }
        
        span {
            a {
                font-size: 32px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        ul {
            display: flex;
            gap: 40px;
        }
    }
    
}
